.multi-ripple div {
	position: absolute;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	border: 1vh solid #82ff0d;
	animation: 1.5s ripple infinite;
	top: 50%;
  }
  
  #nameload{
	position: absolute;
	top: 65%;
  }
  .multi-ripple div:nth-child(2) {
	animation-delay: 0.5s;
  }


  #sameToBody {
	display: flex;
	flex-direction: column;
	align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
   
  
  .loading div:nth-child(2) {
	animation-delay: 0.3s;
  }
  
  .loading div:nth-child(3) {
	animation-delay: 0.6s;
  }
  
  @keyframes bounce {
	to {
	  opacity: 0.3;
	  transform: translate3d(0, -1rem, 0);
	}
  }
  
 
  
  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }
  
  
  @keyframes ripple {
	from {
	  transform: scale(0);
	  opacity: 1;
	}
	to {
	  transform: scale(1);
	  opacity: 0;
	}
  }
  
  .multi-ripple {
	width: 3.6rem;
	height: 3.6rem;
	margin: 2rem;
  }